node_modules
npm-debug.log
dist
build
.env
.env.local
.env.*.local
.git
.gitignore
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.next
.turbo
coverage
.eslintcache
.stylelintcache
*.tsbuildinfo
.github
.editorconfig
README.md
.gitattributes
.prettierignore
.prettierrc*
