html,
body,
#root {
  background-color: #282c34;
  color: white;
  height: 100%;
}

.media-page {
  text-align: center;
}

.media-card {
  background-color: #0f0f0f;
  color: #ffffff;
  width: 200px;
  height: auto;
}
