html,
body,
#root {
  background-color: #282c34 !important;
  color: white !important;
  height: 100%;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html,
  body,
  #root {
    background-color: #282c34 !important;
    color: white !important;
    height: 100%;
    margin: 0;
  }
}

.media-page {
  text-align: center;
}

.media-card {
  background-color: #0f0f0f;
}

.searchbar {
  max-width: 300px;
}

.media-card-img {
  aspect-ratio: 2/3;
}

.no-focus-outline:focus {
  outline: none;
  box-shadow: none;
}
